 
/* Fonte importada */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap%27');
 
* {
    font-family: "Montserrat", sans-serif;
}
 
body {
    overflow-x: hidden;
    display: flex;
    justify-content: space-between;
    max-width: var(--tamanho-tela);
    margin: 0 auto;
    gap: 2rem;
   
}
 
:root{
   
    /* Paleta de cores */
 
    --laranja-sinara:#FF7655;
    --salmao-sinara:#FFC1B2;
    --azul-sinara07:#384994;
    --azul-claro-gradient:#4082A7;
    --fonte-azul:#0B1854;
    --branco:#fff;
    --corna: bolder;
    --laranja-hover:#D3422C;
    --cor-borda:#BFC7E8;
 
    /* Tamanhos de fonte */
 
    --titulos-secoes: 2.3rem;
    --descricoes: 1.8rem;
 
    /* Max width da tela*/
 
    --tamanho-tela: 1400px;
}
aside{
    background: linear-gradient(to bottom, #0B1854, #384994);
    height: 100vh;
    width: 150px;
    padding-left: 70px;
    padding-right: 100px;
    background-color: #E6EBFF;
    position: fixed;
    left: 0;
    top: 0;
    text-align: left;
}
main {
    margin-left: 300px;
    padding: rem;
    flex: 1;
  }
 
 
#logo{
    position: relative;
    right: 20px;
    margin-bottom: 10px;
    scale: 80%;
}
.botoes-aside{
    width: 70%;
    border: none;
    color: var(--branco);
    font-weight: 600;
    font-size: 1.1rem;
    padding-left: 5px;
    background: none;
}
#container-aside{
    display: flex;
    align-items: center;
    flex-direction: column;
 
}
#lista-aside{
    list-style: none;
}
 
#lista-aside img{
    width: 43px;
    height: 43px;
    object-fit: cover;
    margin: 0;
 
}
.container-botoes{
    display: flex;
    gap: 1rem;
    padding: 30px;
 
}
.container-botoes:hover{
    cursor: pointer;
    background-color: #384994;
}
#lista-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0 2rem;
    margin-bottom: 5vh;
}
.icones-superior{
    display: flex;
    align-items: center;
    gap: 1.5rem;
   
}
 
.icones-superior img {
    width: 48px;
    height: 48px;
    cursor: pointer;
}
#barra-pesquisa label {
    display: flex;
    align-items: center;
    background-color: #E5EEF4;
    border-radius: 10px;
    padding: 0.3rem 1rem;
    gap: 0.8rem;
    width: 30rem;
    border: 1px solid var(--cor-borda);
}
#barra-pesquisa img {
    width: 45px;
    height: 45px;
    opacity: 0.7;
}
 
#barra-pesquisa input {
    border: none;
    outline: none;
    background: none;
    font-size: 1rem;
    color: var(--fonte-azul);
    width: 30rem;;
}
#perfil {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--fonte-azul);
}
#perfil #foto {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: url(/img/ygona.svg);
    background-size: cover;
}
#titulo{
    color: var(--fonte-azul);
    text-align: center;
    margin-bottom: 5vh;
    margin-left: 28%;
}
 
#botao-adicionar{    
    background: #FF7A59;
    color: white;
    border: none;
    padding: 6px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
#botao-adicionar:hover {
    background: var(--laranja-hover);
}
a{
    text-decoration: none;
}
#container-titulo-botoes{
    display: flex;
    margin: 0 auto;
    margin-bottom: 5vh;
}
#container-adicionar{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}
#container{
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #BFD4E3;
    box-shadow: 0 6px 15px rgba(191, 212, 227, 0.51);
    transition: 0.3s ease;
    height: 50vh;
    width: 47.5vw;
    margin: 0 auto;
    padding: 2rem 8rem;
}
table{
    margin: 0 auto;
    padding: 2rem;
 
}
th{
    color: var(--fonte-azul);
    font-size: 1.4rem;
    padding-right: 10vw;
    padding-bottom: 5vh;
}
td{
    color: var(--fonte-azul);
    font-size: 1.2rem;
    padding-right: 10vw;
}
 
/* Janela de adicionar administrador */
 
#btnAdicionarFunc {
    background: #FF7A59;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
 
#btnAdicionarFunc:hover {
    background: var(--laranja-hover);
}
 
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}
 
.modal-content {
    background: #fff;
    padding: 45px;
    border-radius: 25px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15);
}
 
.modal-content h2 {
    color: #002E66;
    margin-bottom: 25px;
    font-weight: bold;
}
 
.input-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    border: 1.5px solid #C5D7E0;
    border-radius: 10px;
    padding: 6px 10px;
 
}
 
.input-group img {
    width: 22px;
    margin-right: 10px;
}
 
.input-group input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 15px;
    padding-right: 100px;
}