.container-funcionarios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
    border: solid #ddd 1px ;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 10px;
}

th {
    background-color: #eee;
}

tr:hover {
    background-color: #f5f5f5;
}

h1 {
    font-family: Arial, sans-serif;
}

button {
    margin: 5px 2px;
    padding: 5px 8px;
}

#funcionarios button {
    color: #FF7655;
}
#botao-adicionar{    
    background: #FF7A59;
    color: white;
    border: none;
    padding: 6px 30px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
#botao-adicionar:hover {
    background: var(--laranja-hover);
}
#container-adicionar{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
}