/* Fonte importada */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}


html, body, main {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-weight: 400;
}

#titulo {
    margin: 20px 0px 40px 0px;
}